/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(assets/e4ef6444d015c395ba55.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url(assets/69d4f06cb80244dbe1d0.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/**
этот шрифт используется для заголовков h1, h2, ...
 */

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(assets/37ffdd2667b8a0045f0d.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(assets/c844a55c70de8d13ea46.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/**
этот шрифт используется для "красных" заголововков
 */

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(assets/2e11868c8988e285301c.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{font-size:clamp(10px,2vmin,30px)}body{display:flex;flex-direction:column;height:100vh;margin:0;font-family:"Open Sans",sans-serif;color:#fff;background-color:#000}h1,h2,h3,h4,h5,h6{margin:0;font-family:"Karla",sans-serif}.hide--nq65k{display:none}.show--mB12w{display:block}
.footer-view--pIyQY{display:flex;z-index:1}
.link-button--QFx_T{display:inline-flex;justify-content:center;align-items:center;width:fit-content;min-width:4rem;padding:clamp(2px,1vmin,8px) clamp(2px,1.5vmin,16px);border:none;border-radius:2px;cursor:pointer;font-family:"Oswald",sans-serif;font-size:1.5rem;text-align:center;text-decoration:none;color:#fff;background-color:#a62626;box-shadow:0 4px 4px rgba(0,0,0,.75),0 2px 3px rgba(0,0,0,.5);transition-property:color,background-color,transform,box-shadow;transition-duration:.05s;transition-timing-function:ease-out}@media(hover: hover){.link-button--QFx_T:hover{background-color:rgba(166,38,38,.9)}}.link-button--QFx_T:active{transform:translate(-2px, 2px);background-color:rgba(166,38,38,.5);box-shadow:0 4px 4px rgba(0,0,0,.75),0 2px 3px rgba(0,0,0,.5)}.link-button_disabled--Dp40F{color:#9da1a0;border-color:#3d3d3d;background:rgba(0,0,0,0);pointer-events:none}.selected--MHVHa{box-shadow:0 2px 4px rgba(255,255,255,.5);background-color:#fff;color:#000}.hide--dDtEv{display:none}.show--cBgSe{display:block}
.header-view--iTtNY{display:flex;gap:1rem;justify-content:end;padding:1rem;z-index:1}.hide--h3gHf{display:none}.show--C_gyJ{display:block}
.main-view--ckRdR{display:flex;flex-direction:column;flex-grow:2}
