/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(assets/e4ef6444d015c395ba55.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url(assets/69d4f06cb80244dbe1d0.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/**
этот шрифт используется для заголовков h1, h2, ...
 */

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(assets/37ffdd2667b8a0045f0d.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(assets/c844a55c70de8d13ea46.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/**
этот шрифт используется для "красных" заголововков
 */

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(assets/2e11868c8988e285301c.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{font-size:clamp(10px,2vmin,30px)}body{margin:0;font-family:"Open Sans",sans-serif;color:#fff;background-color:#000}h1,h2,h3,h4,h5,h6{margin:0;font-family:"Karla",sans-serif}.hide--nq65k{display:none}.show--mB12w{display:block}
.footer-view--pIyQY{display:flex;border:1px solid blue}
.link-button--QFx_T{display:inline-flex;justify-content:center;align-items:center;width:fit-content;height:2rem;padding:0 10px;border:2px solid #add8e6;border-radius:5px;cursor:pointer;font-size:1.5rem;text-align:center;text-decoration:none;color:blue;background:rgba(0,0,0,0);transition:all .5s}@media(hover: hover){.link-button--QFx_T:hover{color:#00008b;border-color:#00008b;background:#add8e6}}.link-button--QFx_T:active{transform:scale(0.95)}.link-button_disabled--Dp40F{background:rgba(0,0,0,0);pointer-events:none}.selected--MHVHa{box-shadow:0 2px 4px rgba(255,255,255,.5);background-color:#fff;color:#000}.hide--dDtEv{display:none}.show--cBgSe{display:block}
.header-view--iTtNY{display:flex;gap:1rem;justify-content:end;padding:1rem}.hide--h3gHf{display:none}.show--C_gyJ{display:block}
.main-view--ckRdR{display:flex;flex-direction:column;border:1px solid blue}
